/**
Authors: Joseph Cortez
         Kyle Walker
         Noel Poothokaran
         Skyler DeVaughn
Course: Csc 337 Webdev Benjamin Dicken Fall 2023
Purpose: This is the style sheet for the login page, which is styled to show an aniimated announcement banner and give users a simple
        interface for logging in or creating accounts. Follows UA App theme with larger site logo and header, and Red and Blue colorway
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: aliceblue;
    overflow-x: hidden;
}

a {
    color: rgb(15, 50, 120);
    text-decoration: none;
}

input {
    border-radius: 10px;
    border: solid rgb(15, 50, 120) 2px;
    background: white;
    padding: 5px;
    width: 300px;
    height: 25px;
    color: black;
    text-align: center;
}

form {
    margin-top: 10px;
    /* Add top margin */
    margin-bottom: 10px;
}

button {
    border: solid black 2px;
    background: rgb(15, 50, 120);
    margin-top: 20px;
    padding: 20px;
    width: 120px;
    height: 20px;
    color: white;
    text-align: center;
    line-height: 1px;
    /* Adjust the line height to vertically center the text */
    padding: 16px;
    margin-bottom: 35px;
}

h2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 45, 45);
    margin-bottom: 10px;
}

.inputLabel {
    font-size: 25px;
    color: rgb(45, 45, 45);
    margin-top: 15px;
    margin-bottom: 15px;
}

.siteBanner {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    margin: auto;
    background-color: white;
    color: rgb(15, 50, 120);
}


.navLink {
    color: white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 28px;
    width: 200px;
}

.pageTitle {
    font-size: 50px;
    color: rgb(15, 50, 120);
}

.mainDiv {
    display: block;
    margin: auto;
    top: 21.5%;
    width: 100%;
    height: 78%;
    position: absolute;
    bottom: 0px;
    color: grey;
    text-align: center;
}

.siteLogo {
    height: 100%;
}


#navigationBar {
    position: absolute;
    top: 15%;
    height: 6.5%;
    width: 100%;
    background-color: rgb(160, 3, 3);
    overflow: hidden;
}

#createAccountButton {
    border-radius: 20px;
    border: solid black 2px;
    background: rgb(15, 50, 120);
    padding: 10px;
    width: 150px;
    color: white;
    line-height: 1px;
}

/* Scrolling text */
#flavor {
    color: white;
    font-size: 30px;
    font-size: 4.6vmin;
    white-space: nowrap;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 25s linear infinite;
    -webkit-animation: my-animation 25s linear infinite;
    animation: my-animation 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}