body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: aliceblue;
}

.siteBanner {
    position: relative;
    top: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: white;
    color: rgb(15, 50, 120);
}

.navigationBar {
    position: relative;
    top: 10%;
    height: 15%;
    background-color: rgb(160, 3, 3)
}

.navLink {
    color:white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 28px;
    width: 200px;
}

a{
    color:rgb(15, 50, 120);
    text-decoration: none;
}

.pageTitle{
    color: rgb(15, 50, 120);
}

.mainDiv {
    padding-left: 24px;
    color:rgb(82, 82, 82)
}

.siteLogo {
    height: 100px;
}

#failMessage {
    color: red;
}

.snakeOption {
    text-align: center;
    font-size: larger;
}