body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: aliceblue;
    overflow-x: hidden;
}

a{
    color:rgb(15, 50, 120);
    text-decoration: none;
}

h2{
    color:rgb(15, 50, 120);
}

input {
    border-radius: 10px;
    border: solid rgb(15, 50, 120) 2px;
    background: white;
    width: 300px;
    height: 15px;
    color: black;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}




.siteBanner {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    margin: auto;
    background-color: white;
}

.navigationBar {
    position: relative;
    top: 10%;
    height: 15%;
    background-color: rgb(160, 3, 3)
}

.navLink {
    color: white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    width: 200px;
    font-size: 30px;
    font-size: 4.6vmin;
    vertical-align: text-top;
}

.pageTitle{
    color: rgb(15, 50, 120);
}

.siteLogo {
    height: 100%;
}


.studentOptions {
    text-align: center;
    font-size: larger;
}

.gameView{
    position: absolute;
    left: 22%;
    margin: auto;
    display: block;
    width: 50%;
    height: 50%;
    border: 2px solid rgb(160, 3, 3);
}

.inputDiv{
    font-size: 25px;
    color: rgb(45, 45, 45);
    margin-top: 20px;
    margin-bottom: 15px;
}

.addButton{
    border-radius: 20px;
    border: solid black 2px;
    background: rgb(15, 50, 120);
    padding: 10px;
    width: 150px;
    color: white;
    line-height: 1px;
    margin-bottom: 10px;
}

.removeButton{
    border-radius: 20px;
    border: solid black 2px;
    background: rgb(160, 3, 3);
    padding: 10px;
    width: 150px;
    color: white;
    line-height: 1px;
    margin-bottom: 10px;
}

#mainDiv{
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    top: 21.5%;
    width: 100%;
    height: 78%;
    position: absolute;
    bottom: 0px;
    color: grey;
    text-align: center;
}
#navigationBar {
    position: absolute;
    top: 15%;
    height: 6.5%;
    width: 100%;
    background-color: rgb(160, 3, 3);
    padding:0px;
}

#studentLeave {
    background-color: navy;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 5px;
    opacity: .7;
}

#failMessage {
    color: red;
}

#queueHome{
    overflow: hidden;
}


#addTutor{
width: 120px;
}

#addCoordinator{
    width: 160px;
}
#removeTutor{
    width: 130px;
}

#removeCoordinator{
    width: 170px;
}

