body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: aliceblue;
    overflow-x: hidden;
}

.siteBanner {
    position: relative;
    top: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin: auto;
    background-color: white;
    color: rgb(120, 15, 15);
}

.navigationBar {
    position: relative;
    top: 10%;
    height: 15%;
    background-color: rgb(160, 3, 3)
}

.navLink {
    color:white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 28px;
    width: 200px;
}

a{
    color:rgb(15, 50, 120);
    text-decoration: none;
}

.pageTitle{
    color: rgb(15, 50, 120);
}

.mainDiv {
    display: block;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 85%;
    position: absolute;
    bottom: 0px;
    color:rgb(82, 82, 82)
}

.siteLogo {
    height: 100px;
}



.studentOptions {
    text-align: center;
    font-size: larger;
}




.gameView{
    position: absolute;
    left: 22%;
    margin: auto;
    display: block;
    width: 50%;
    height: 50%;
    border: 2px solid rgb(160, 3, 3);
}

#failMessage {
    color: red;
}

#studentLeave {
    background-color: navy;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 5px;
    opacity: .7;
}

#queueHome{
    overflow: hidden;
}
#playSnake {
    color: red;
}