body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: aliceblue;
    overflow: hidden;
}

a {
    color: rgb(15, 50, 120);
    font-size: 30px;
    font-size: 4.6vmin;
    text-decoration: none;
}

.siteBanner {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    margin: auto;
    background-color: white;
}

.navigationBar {
    position: relative;
    top: 10%;
    height: 15%;
    background-color: rgb(160, 3, 3)
}

.navLink {
    color: white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    width: 200px;
    font-size: 30px;
    font-size: 4.6vmin;
    vertical-align: text-top;
}

.pageTitle{
    color: rgb(15, 50, 120);
}

.mainDiv {
    display: block;
    top: 21.5%;
    width: 100%;
    height: 78%;
    position: absolute;
    bottom: 0px;
    color: black;
    text-align: center;
}

.siteLogo {
    height: 100%;
}

.studentOptions {
    text-align: center;
    font-size: larger;
}


#navigationBar {
    position: absolute;
    top: 15%;
    height: 6.5%;
    width: 100%;
    background-color: rgb(160, 3, 3);
    padding:0px;
}


#waitArea{
    position: absolute;
    left:0%;
    right: 50%;
    width: 50%;
    height: 100%;
    padding-left:24px;
    overflow: hidden;
}

#queueSide{
    position: absolute;
    left:50%;
    right: 0%;
    width: 50%;
    height: 100%;
}

#queueLiveView{
    height: 75%;
}

#queueViewArea{
    overflow-y: auto;
}

#queueOptions{
    position: absolute;
    height:10%;
    bottom:15%;
}


#failMessage {
    color: red;
}

#studentLeave {
    background-color: navy;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 5px;
    opacity: .7;
}

#queueHome{
    overflow: hidden;
}
