/**
Authors: Joseph Cortez
         Kyle Walker
         Noel Poothokaran
         Skyler DeVaughn
Course: Csc 337 Webdev Benjamin Dicken Fall 2023
Purpose: Style for Home Queue view, where the live queue items are displayed with all info. Queue items are displayed in blocks
        with rows of properties. The button to leave is at the bottom. Follows app color theme and sizes
*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: aliceblue;
    overflow: hidden;
}

a {
    color: rgb(15, 50, 120);
    font-size: 30px;
    font-size: 4.6vmin;
    text-decoration: none;
}

.siteBanner {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    margin: auto;
    background-color: white;
}

.navigationBar {
    position: relative;
    top: 10%;
    height: 15%;
    background-color: rgb(160, 3, 3)
}

.navLink {
    color: white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    width: 200px;
    font-size: 30px;
    font-size: 4.6vmin;
    vertical-align: text-top;
}

.pageTitle {
    color: rgb(15, 50, 120);
}

.mainDiv {
    display: block;
    top: 21.5%;
    width: 100%;
    height: 78%;
    position: absolute;
    bottom: 0px;
    color: black;
    text-align: center;
}

.siteLogo {
    height: 100%;
}

.studentOptions {
    text-align: center;
    font-size: larger;
}

#navigationBar {
    position: absolute;
    top: 15%;
    height: 6.5%;
    width: 100%;
    background-color: rgb(160, 3, 3);
    padding: 0px;
}

#waitArea {
    position: absolute;
    left: 0%;
    right: 50%;
    width: 50%;
    height: 100%;
    padding-left: 24px;
    overflow: hidden;
}

/* 
This should be be 63 and queueLiveView should be 100,
will Test
*/
#queueSide{
    position: absolute;
    left: 50%;
    right: 0%;
    width: 50%;
    height: 63%;
}

#queueLiveView{
    height: 63%;
}

#queueViewArea {
    overflow-y: auto;
}

/* Leave queue option is placed at the bottom and is 7% tall, the queue
above should take the rest of the page 63% (100 - 37)(7 from queueOptions,
15 each from the nav banner and the site banner*/
#queueOptions{
    position: absolute;
    height:7%;
    bottom:0%;
    left:45%;
}

#failMessage {
    color: red;
}

#studentLeave {
    border-radius: 20px;
    border: solid black 2px;
    background: rgb(15, 50, 120);
    padding: 10px;
    width: 130px;
    color: white;
    line-height: 1px;
}

#queueHome {
    overflow: hidden;
}